{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <link href="style.css" rel="stylesheet">
    <h1>Créer un compte</h1>
    <div id="container">
    
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-lg btn-primary">Créer un compte</button>
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
